* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.column {
  flex: 1 1 0%;
  background: lightgray;
  display: flex;
  flex-direction: column;
}

.column h2 {
  background: white;
  border: 1px solid lightgray;
}

.column ul {
  list-style-type: none;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.item {
  display: inline-block;
  border: 2px solid black;
  padding: 5px 10px;
  margin-bottom: 5px;
  cursor: pointer;
}
